<!-- to make responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- include bootstrap css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />

<!-- include jquery and bootstrap js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- include sweetalert for displaying dialog messages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<link rel="stylesheet" href="../css/addProject.css ">

<link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.1/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.1/dist/js/tom-select.complete.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $( "#updateTask" ).submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'PUT',
                url: '/addtask',
                data: $('#updateTask').serialize(),
                dataType: "json",
                success: function(response){
                    //alert("a");
                    //console.log(response.Success);
                    $('#updateTask')[0].reset();
                    document.getElementById("addstatus").innerHTML=response.Success;
                         //ADD THIS CODE
                         setTimeout(function(){
                             document.getElementById("status").innerHTML="";
                         },3000);
                         if (response.Success=="Success!") {
                             document.getElementById("updatebtn").click();
                         };
                     },
                     error: function() {
                     }
                 })
        });
    });
    // for deleting project-----
    $(document).ready(function(){
$( "#projectDelete" ).submit(function(event) {
    event.preventDefault();
    $.ajax({
        type: 'DELETE',
        url: '/deleteproject',
        data: $('#projectDelete').serialize(),
        dataType: "json",
        success: function(response){
            //alert("a");
            //console.log(response.Success);
            $('#projectDelete')[0].reset();
            document.getElementById("projectDelete").innerHTML=response.Success;
                 //ADD THIS CODE
                 setTimeout(function(){
                     document.getElementById("projectDelete").innerHTML="";
                 },3000);
                 if (response.Success=="Success!") {
                     document.getElementById("deleteproject").click();
                 };
             },
             error: function() {
             }
         })
});
});
</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/admincontrols">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/taskdetails">Reports</a>
        </li>
        <li class="nav-item" style="margin-left:1150px;">
          <a class="nav-link" style ='color:red;font-size: xx-large;font-family: sans-serif;' href="/adminlogout">Logout</a>
        </li>
        
      </ul>
    </div>
  </nav>


<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    
    <!-- button to add task -->
    <h4 id="addstatus"></h4>
    <div class="row" style="margin-bottom: 50px;">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTaskModal">Add New Project</button>
            <!-- form to update task in project -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Add Task</button>
            
            
            <!-- <form id="projectassign" method="post" action='/addproject/project/'  style="display: contents;">
                <select name="projectName" class="form-control" 
                style="display: initial; width: 200px; margin-left: 5px; margin-right: 5px;" 
                id="projectDisplay">
                <% projects.forEach((project)=>{ %>
                    <option value="<%= project.projectName%>"><%= project.projectName%></option>
                    <%}) %>
            </select > -->
                <!-- <input type="submit" id="makeTeam"  class="btn btn-primary" value="Assign Task"> -->
                <button type="submit"  class="btn btn-primary" ><a style="color: white;" href="/addproject/project">Assign</a></button>
            <!-- </form> -->
            <input type="button" data-toggle="modal" 
            class="btn btn-danger" data-target="#formDelete" value="Delete Project">
            
            <!-- for deleting project -->
            <div class="modal fade" id="formDelete"  tabindex="-1" role="dialog">
                <form id="projectDelete" action="/deleteproject" method="delete"  enctype="multipart/form-data">
                <div class="modal-dialog" role="document">
                  <div class="modal-content ">
                    <div class="modal-header alert alert-danger">
                      <h5 class="modal-title">Delete Project</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>SELECT PROJECT</p>
                      <select name="projectName" id="" default="select to delete project">
                        <%projects.forEach((project)=>{ %>
                            <option value="<%= project.projectName%>"><%=project.projectName%></option>
                        <%})%>
                    </select>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" id="deleteproject" data-toggle="popover" class="btn btn-danger"
                      data-content="data deleted successfully" onclick="window.parent.location.reload()">Delete</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </form>
              </div>


    <!-- show all tasks -->
    <table class="table">
        <caption class="text-center">All Tasks</caption>
        <tr>
            <th>Date</th>
            <th>Task</th>
            <th>Project</th>
            <th>Delete</th>
        </tr>

        <tbody id="">
            <%projects.forEach((project)=>{ %>
                <%project.task.forEach((tasks)=>{%>
                <tr>
                    <td><%= (project.date).toString().substring(0,16)%>
                    </td>
                    <td><%= tasks%></td>
                    <td><%= project.projectName%></td>
                    <form action="/deletetask" method="POST">
                        <td>
                            <input value="<%= project.projectName%>" name="projectName"   type="text" hidden>
                            <input value="<%= tasks%>" name="taskName" type="text" hidden>
                            <button  style="background-color: white; border: 0px white;" onclick="window.parent.location.reload()" type="submit"> 
                            <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" 
                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0
                                 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/><path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 
                                 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 
                                 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg>
                            </button>
                            <!-- <button onclick="window.parent.location.reload()" type="submit" class="btn btn-danger">Delete</button> -->
                        </td>
                    </form>
                </tr>
                <%})%>
            <%})%>
        </tbody>
    </table>
</div>
<!-- modal to add task in already created projects -->
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" 
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Task</h5>
            <button class="close" type="button" data-dismiss="modal">x</button>
        </div>
        <div class="modal-body">
            <form id="updateTask" method="put" action="/addtask" enctype="multipart/form-data">
                
                <div class="form-group">
                    <label for="Update Project">Choose Project To Add Task</label>
                    <br>
                    <select style="height:2rem;width:8rem ;" name="updateProject" id="updateProject">
                        <% projects.forEach((project)=>{ %>
                            <option value="<%= project.projectName%>"><%= project.projectName%></option>
                            <%}) %>
                    </select>
                </div>
                <!-- enter task -->
                <div class="form-group">
                    <input mbsc-input id="my-input" data-dropdown="true" data-tags="true"  hidden />
                    <select id="select-beast" placeholder="add  task..." autocomplete="off"multiple
                    name="Task" style="width:200px;font-size: 20px;background-color: black!important;" default=" ">
                    

                  
                  
                </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" onclick="window.parent.location.reload()" form="updateTask"  class="btn btn-warning">Add</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

<!-- modal to add project and task -->
<div class="modal fade" id="addTaskModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Task</h5>
                <button class="close" type="button" data-dismiss="modal">x</button>
            </div>

            <div class="modal-body">
                <form method="post" action ='/project'  id="form-task-hour-calculator">
                      
                    <!-- select project from already created -->
                    <!-- <div class="form-group">
                        <label>Project</label>
                        <select name="projectName" id="add-task-project" class="form-control" required>
                            <%projects.forEach((project)=>{%> 
                                <option value="<%=project.projectName%>"><%= project.projectName%></option>
                                <%})%>
                        </select>
                    </div>  -->

                    <!-- create new project -->
                    <div class="form-group">
                        <label>New Project</label>
                        <input type="text" name="projectName" id="add-project" class="form-control" placeholder="Project Name">

                        <button type="button" class="btn btn-primary" style="margin-top: 10px;">Add Project</button>
                    </div>

                    <!-- enter task -->
                    <div class="form-group">
                        <label>Task</label>
                        <input type="text" name="task" class="form-control" placeholder="What are you going to do ?" required />
                    </div>
                </form>
            </div>

            <!-- form submit button -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" form="form-task-hour-calculator" class="btn btn-primary">Add Task</button>
            </div>

        </div>
    </div>
</div>
<script>
        new TomSelect("#select-beast",{
        inputElement: document.getElementById('my-input'),
	create: true,
	sortField: {
		field: "text",
		direction: "asc",
    touchUi: false
	}
});
</script>



<style>
    /* style when project is started */
    .started {
        color: white;
        font-weight: bold;
        background: green;
        padding: 5px;
        border-radius: 5px;
    }
    /* style when project is completed */
    .completed {
        color: white;
        font-weight: bold;
        background: greenyellow;
        padding: 5px;
        border-radius: 5px;
    }
</style>