<!DOCTYPE html>
<html>
<head>
	<title>ADMIN-PANEL</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/css/jquery.dataTables_themeroller.css" rel="stylesheet" data-semver="1.9.4" data-require="datatables@*" />
    <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/adminpanel.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-scroll"  >
		<div class="container" >
		  <!-- <img src="\css\img\logo.jpg" height="100" alt=""
			loading="lazy" /> -->
		  <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
			aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon d-flex justify-content-start align-items-center">
			  <i class="fas fa-bars"></i>
			</span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarExample01" >
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="float: right;">
      </li>
      <li class="nav-item active">
      <a class="nav-link" aria-current="page" href="/admincontrols" style ='height:50px; color:red'>HOME</a>
      </li>
			  <li class="nav-item active">
				<a class="nav-link" aria-current="page" href="/register" style ='height:50px; color:red'>REGISTER NEW EMPLOYEE</a>
			  </li>
              <li class="nav-item active">
				<a class="nav-link" aria-current="page" href="/adminlogout" style ='height:50px; color:red'>ADMIN LOGOUT</a>
			  </li>
      
			  
			</ul>
		  </div>
		</div>
	  </nav>

    
    <div class="container" style = 'width:2500px'>
      <div class="table-responsive"  style = 'width:1500px'>
        <div class="table-wrapper">
          <div class="table-title" style = 'width:1340px'>
            <div class="row"  >
              <div class="col-xs-6">
                <h2 >Manage <b>Employees</b></h2>
              </div>
              <div class="col-xs-6">
                <!-- <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>
                <a href="#deleteEmployeeModal"class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>						 -->
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover" id="datatable">
            <thead>
              <tr>
                <!-- <th>
                  <span class="custom-checkbox">
                    <input type="checkbox" id="selectAll">
                    <label for="selectAll"></label>
                  </span>
                </th> -->
                <th>Add Profile</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>designation</th>
                <th>teamleader</th>
                <th>username</th>
                <th>Date_of_birth</th>
                <th>email</th>
                <th>password</th>
                <th>lastlogin</th>
                <th>delete</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i =0;i< value.length;i++){ %>
              <tr>
                <td>
                  <form  action="/userTask/uploadphoto" 
                  enctype="multipart/form-data" method="post" id="uploadpic">
                  <input type="file" name="myImage" accept="image/*">
                  <input type="text"value='<%= value[i].id %>' name ='userid' hidden>
                  <input type="submit" value="Upload Photo" onclick="myalert()">
                </form>
                </td>
          
                <!-- Edit Modal HTML -->
                <td><%= value[i].firstName %></td>
                <td><%= value[i].lastName %></td>
                <td><%= value[i].designation %></td>
                <td><%= value[i].teamLeader %></td>
                <td><%= value[i].username %></td>
                <td><%= value[i].date_of_birth %></td>
                <td><%= value[i].email %></td>
                <td><%= value[i].password %></td>
                <td><%= value[i].lastLogin%></td>
                <td>
                  <form action="/deleteuser/<%= value[i].id %>?_method=DELETE" method="POST">
                  <button style="background-color: white; border: 0px white;" type = "submit">
                    <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></button>
                    </form>
                </td>
                <!-- <td>
                    <a class="btn btn-success" id="editemployee">
                      <i class="material-icons">&#xE147;</i> <span><Em>Edit</Em></span></a>

                      <form>
                        <div class="form-group row">
                          <label for="staticEmail" class="col-sm-2 col-form-label">firstName</label>
                          <div class="col-sm-10">
                            <input type="text" name="lastname" value="<%= value[i].firstName%>">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputPassword" class="col-sm-2 col-form-label">LastName</label>
                          <div class="col-sm-10">
                            <input class="form-control"name="lastname" value="<%= value[i].lastName%>">
                          </div>
                          <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Designation</label>
                            <div class="col-sm-10">
                              <input  class="form-control"name="designation" value="<%= value[i].designation%>">
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-2 col-form-label">TeamLeader</label>
                              <div class="col-sm-10">
                                <input name="teamlead" value="<%= value[i].teamLeader%>" >
                              </div>
                              <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Username</label>
                                <div class="col-sm-10">
                                  <input name="teamlead" value="<%=value[i].teamLeader%>" >
                                </div>
                        </div>
                      </form>
                  </td> -->
              </tr>
              <% }; %> 

              
            </tbody>
          </table>
          
        </div>
      </div>        
      </div>
    <form action="/deleteuser" method="delete" enctype="multipart/form-data" id="deleteEmployeeModal">
    <div  class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">						
              <h4 class="modal-title">Delete Employee</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">					
              <p>Are you sure you want to delete these Records?</p>
              <p class="text-warning"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <input type="submit" class="btn btn-danger" value="Delete">
            </div>
          </form>
        </div>
      </div>
    </div>
  </form>

 
   <script>
    $(function() {
    var oTable = $('#datatable').DataTable({
      "oLanguage": {
        "sSearch": "Search:"
      },
      "iDisplayLength": -1,
      "sPaginationType": "full_numbers",
  
    });
    })

    function hidetableform() {

if(uploadpic.style.display==="none"){
	
	uploadpic.style.display="block"	
}else{
	uploadpic.style.display="none"
	// window.parent.location.reload();
}
}
function myalert(){
  alert('image uploaded successfully')
}

    </script>
</body>
</html>